.detail-quiz-container{
    display: flex;
    gap: 20px;
    padding: 50px;
    .detail-quiz-left-content{
        width: 70%;
        border: 2px solid #ccc;
        border-radius: 5px;
        padding:20px;
        .title{
            margin-bottom: 50px;
            font-size: 30px;
            font-weight: 600;
        }
        .question-content{
            text-align: center;
            .question{
                font-size: 20px;
                font-weight: 600;
                padding: 20px 0;
            }
             .question-image{
                width: 100%;
                height: 100px;
                img{
                    max-width: 100%;
                    max-height: 100%;
                }
                
            }
            .answer{
                .a-child{
                    text-align: left;
                    padding-left: 50px;
                }
            }
            
        }
        .footer{
            margin-top: 20px;
            display: flex;
            gap: 15px;
            justify-content: center;
}
        }
    }
    .detail-quiz-right-content{
        border: 2px solid #ccc;
        width: 30%;
        border-radius: 5;
        padding: 20px;
    }
