.manage-user-container{
    padding: 10px;
    .users-content{
        .btn-add-new{
            padding: 15px 0;
        }
    }
    .title{
        font-size: 20px;
        font-weight: 600;
    }
}
.modal-add-user{
    .img-preview{
        height: 150px;
        border: 1px dashed #ccc;
        color: #ccc;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    img {
        max-width:100%;
        max-height:100%;
    }
    .label-upload{
        display: flex;
        gap: 5px;
        align-items: center;
        width: fit-content;
        padding: 3px 10px;
        border-radius: 5px;
        background-color: #eeeeee;
        cursor: pointer;
        border: none;
        &:hover{
            background-color: #c6c6c6;
        }
    }
    
    }
