body {
  overflow: hidden;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @media (min-width: 1350px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1450px !important 
  }


}
}

  .header-container {
    .btn-login {
      height: 40px;
    border-radius: 5px;
    margin-right: 15px;
    padding: 0 15px;
    border: 1px solid #1b1818;
  }
  .btn-signup {
    height: 40px;
    border-radius: 5px;
    padding: 0 15px;
    background-color: #3b3030;
    color: white;
    &:hover {
      background-color: black;
    }
  }
    .navbar{
      z-index: 10;
     .nav-link{
        &.active{
        color: #00bfff;
        }
    }
    }
      }
    
.homepage-container{
  video {
  position: fixed;
  bottom: 0;
  width: 100vh;
}      

}
    
  


