.login-container{
    .header{
        height: 45px;
        text-align: right;
        display: flex;
        align-items: center;
        justify-content: end;
        margin-right: 30px;
        button{
            border-radius: 5px;
            border: 1px solid black;
            padding: 5px 15px;
            margin-left: 15px;
            background-color: #f9f9f9;
            font-weight: 400;
            &:hover{
                background-color: white;
            }

        }
    }
    .title{
        font-size: 25px;
        padding: 20px 0;
        text-align: center
    }
    .welcome{
        font-size: 25px;
        padding: 10px 0;
        text-align: center

    }
    .content-form{
        display: flex;
        flex-direction: column;
        gap: 15px;
        button{
            width: 100%;
            height: 40px;
            border: none;
            border-radius: 5px;
            color: white;
            background-color: black;
            &:disabled{
                background: #dddddd;
                color: #afafaf;
                cursor: no-drop;
            }
        }
    }
    .loader-icon{
            margin-right: 7px;
            top: 2px;
            animation: spin 1s infinite linear;
        }
        
        @keyframes spin {
            from {
                transform: scale(1) rotate(0deg);
            }
            to {
                transform: scale(1) rotate(360deg);
            }
        }
    }

